<div class="sidebar @(isMenuReduced ? "menu-reduced" : "")">
    <div class="top-row ps-3 navbar navbar-dark">
        <div style="padding-top: 5px;">
            <span class="oi oi-double-quote-serif-right" style="color: #1e8a56; font-size: 1.9rem; top: -5px; padding-left: 9px;" />
            <span class="oi oi-double-quote-serif-left" style="color: #aaaaaa; font-size: 2.9rem; top: -15px; opacity: 0.1; @(isMenuReduced ? "top: -15px; left: -40px" : "top: -15px; left: -20px;")" />
            <a class="navbar-brand">@(!isMenuReduced ? "Assistant cadrage" : "")</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div @onclick="ToggleNavMenu">
        <div class="toggle-menu" @onclick="ToggleMenuSize"></div>
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-people nav-icon" aria-hidden="true"></span>@(!isMenuReduced ? "Métier/CdP : Cadrage du brief" : "")
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="po">
                    <span class="oi oi-file nav-icon" aria-hidden="true"></span> @(!isMenuReduced ? "PO : Rédaction User Story" : "")
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="qa">
                    <span class="oi oi-check nav-icon" aria-hidden="true"></span> @(!isMenuReduced ? "QA : Tests d'acceptance" : "")
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isMenuReduced = false; // Ajout pour gérer l'état réduit/étendu

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleMenuSize()
    {
        isMenuReduced = !isMenuReduced;
    }
}
