@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms
<InputSelect class="w-full mt-2 px-3 py-1 rounded-md shadow-md focus:outline focus:outline-2 focus:outline-blue-500"
             Value="@Value"
             ValueChanged="@ValueChanged"
             ValueExpression="@ValueExpression">
    <option value=""></option>
    <option value="@(Country.AF)">Afghanistan</option>
    <option value="@(Country.AL)">Albanie</option>
    <option value="@(Country.DZ)">Algérie</option>
    <option value="@(Country.DE)">Allemagne</option>
    <option value="@(Country.AD)">Andorre</option>
    <option value="@(Country.AO)">Angola</option>
    <option value="@(Country.AI)">Anguilla</option>
    <option value="@(Country.AQ)">Antarctique</option>
    <option value="@(Country.AG)">Antigua-et-Barbuda</option>
    <option value="@(Country.AR)">Argentine</option>
    <option value="@(Country.AM)">Arménie</option>
    <option value="@(Country.AW)">Aruba</option>
    <option value="@(Country.AU)">Australie</option>
    <option value="@(Country.AT)">Autriche</option>
    <option value="@(Country.AZ)">Azerbaïdjan</option>
    <option value="@(Country.BS)">Bahamas</option>
    <option value="@(Country.BH)">Bahreïn</option>
    <option value="@(Country.BD)">Bangladesh</option>
    <option value="@(Country.BB)">Barbade</option>
    <option value="@(Country.BY)">Bélarus</option>
    <option value="@(Country.BE)">Belgique</option>
    <option value="@(Country.BZ)">Belize</option>
    <option value="@(Country.BJ)">Bénin</option>
    <option value="@(Country.BM)">Bermudes</option>
    <option value="@(Country.BT)">Bhoutan</option>
    <option value="@(Country.BO)">Bolivie (État plurinational de)</option>
    <option value="@(Country.BQ)">Bonaire, Saint-Eustache et Saba</option>
    <option value="@(Country.BA)">Bosnie-Herzégovine</option>
    <option value="@(Country.BW)">Botswana</option>
    <option value="@(Country.BR)">Brésil</option>
    <option value="@(Country.BN)">Brunéi Darussalam</option>
    <option value="@(Country.BG)">Bulgarie</option>
    <option value="@(Country.BF)">Burkina Faso</option>
    <option value="@(Country.BI)">Burundi</option>
    <option value="@(Country.KY)">Îles Caïmans</option>
    <option value="@(Country.KH)">Cambodge</option>
    <option value="@(Country.CM)">Cameroun</option>
    <option value="@(Country.CA)">Canada</option>
    <option value="@(Country.CV)">Cap-Vert</option>
    <option value="@(Country.CF)">République centrafricaine</option>
    <option value="@(Country.CL)">Chili</option>
    <option value="@(Country.CN)">Chine</option>
    <option value="@(Country.CY)">Chypre</option>
    <option value="@(Country.CO)">Colombie</option>
    <option value="@(Country.KM)">Comores</option>
    <option value="@(Country.CG)">Congo</option>
    <option value="@(Country.CD)">Congo (République démocratique du)</option>
    <option value="@(Country.KP)">Corée (République populaire démocratique de)</option>
    <option value="@(Country.KR)">Corée (République de)</option>
    <option value="@(Country.CR)">Costa Rica</option>
    <option value="@(Country.CI)">Côte d'Ivoire</option>
    <option value="@(Country.HR)">Croatie</option>
    <option value="@(Country.CU)">Cuba</option>
    <option value="@(Country.CW)">Curaçao</option>
    <option value="@(Country.DK)">Danemark</option>
    <option value="@(Country.DJ)">Djibouti</option>
    <option value="@(Country.DM)">Dominique</option>
    <option value="@(Country.EG)">Égypte</option>
    <option value="@(Country.AE)">Émirats arabes unis</option>
    <option value="@(Country.EC)">Équateur</option>
    <option value="@(Country.ER)">Érythrée</option>
    <option value="@(Country.ES)">Espagne</option>
    <option value="@(Country.EE)">Estonie</option>
    <option value="@(Country.ET)">Éthiopie</option>
    <option value="@(Country.FJ)">Fidji</option>
    <option value="@(Country.FI)">Finlande</option>
    <option value="@(Country.FR)">France</option>
    <option value="@(Country.GA)">Gabon</option>
    <option value="@(Country.GM)">Gambie</option>
    <option value="@(Country.GE)">Géorgie</option>
    <option value="@(Country.GS)">Géorgie du Sud et Îles Sandwich du Sud</option>
    <option value="@(Country.GH)">Ghana</option>
    <option value="@(Country.GI)">Gibraltar</option>
    <option value="@(Country.GR)">Grèce</option>
    <option value="@(Country.GD)">Grenade</option>
    <option value="@(Country.GL)">Groenland</option>
    <option value="@(Country.GP)">Guadeloupe</option>
    <option value="@(Country.GU)">Guam</option>
    <option value="@(Country.GT)">Guatemala</option>
    <option value="@(Country.GG)">Guernesey</option>
    <option value="@(Country.GN)">Guinée</option>
    <option value="@(Country.GW)">Guinée-Bissau</option>
    <option value="@(Country.GQ)">Guinée équatoriale</option>
    <option value="@(Country.GY)">Guyana</option>
    <option value="@(Country.GF)">Guyane française</option>
    <option value="@(Country.HT)">Haïti</option>
    <option value="@(Country.HN)">Honduras</option>
    <option value="@(Country.HU)">Hongrie</option>
    <option value="@(Country.BV)">Île Bouvet</option>
    <option value="@(Country.IM)">Île de Man</option>
    <option value="@(Country.NF)">Île Norfolk</option>
    <option value="@(Country.NG)">Nigéria</option>
    <option value="@(Country.NI)">Nicaragua</option>
    <option value="@(Country.NL)">Pays-Bas</option>
    <option value="@(Country.NO)">Norvège</option>
    <option value="@(Country.NP)">Népal</option>
    <option value="@(Country.NR)">Nauru</option>
    <option value="@(Country.NU)">Niue</option>
    <option value="@(Country.NZ)">Nouvelle-Zélande</option>
    <option value="@(Country.OM)">Oman</option>
    <option value="@(Country.PA)">Panama</option>
    <option value="@(Country.PE)">Pérou</option>
    <option value="@(Country.PF)">Polynésie française</option>
    <option value="@(Country.PG)">Papouasie-Nouvelle-Guinée</option>
    <option value="@(Country.PH)">Philippines</option>
    <option value="@(Country.PK)">Pakistan</option>
    <option value="@(Country.PL)">Pologne</option>
    <option value="@(Country.PM)">Saint-Pierre-et-Miquelon</option>
    <option value="@(Country.PN)">Pitcairn</option>
    <option value="@(Country.PR)">Porto Rico</option>
    <option value="@(Country.PT)">Portugal</option>
    <option value="@(Country.PW)">Palaos</option>
    <option value="@(Country.PY)">Paraguay</option>
    <option value="@(Country.QA)">Qatar</option>
    <option value="@(Country.RE)">Réunion</option>
    <option value="@(Country.RO)">Roumanie</option>
    <option value="@(Country.RS)">Serbie</option>
    <option value="@(Country.RU)">Russie</option>
    <option value="@(Country.RW)">Rwanda</option>
    <option value="@(Country.SA)">Arabie saoudite</option>
    <option value="@(Country.SB)">Îles Salomon</option>
    <option value="@(Country.SC)">Seychelles</option>
    <option value="@(Country.SD)">Soudan</option>
    <option value="@(Country.SE)">Suède</option>
    <option value="@(Country.SG)">Singapour</option>
    <option value="@(Country.SH)">Sainte-Hélène, Ascension et Tristan da Cunha</option>
    <option value="@(Country.SI)">Slovénie</option>
    <option value="@(Country.SJ)">Svalbard et Jan Mayen</option>
    <option value="@(Country.SK)">Slovaquie</option>
    <option value="@(Country.SL)">Sierra Leone</option>
    <option value="@(Country.SM)">Saint-Marin</option>
    <option value="@(Country.SN)">Sénégal</option>
    <option value="@(Country.SO)">Somalie</option>
    <option value="@(Country.SR)">Suriname</option>
    <option value="@(Country.SS)">Soudan du Sud</option>
    <option value="@(Country.ST)">Sao Tomé-et-Principe</option>
    <option value="@(Country.SV)">Salvador</option>
    <option value="@(Country.SX)">Saint-Martin (partie néerlandaise)</option>
    <option value="@(Country.SY)">République arabe syrienne</option>
    <option value="@(Country.SZ)">Eswatini</option>
    <option value="@(Country.TC)">Îles Turks-et-Caïcos</option>
    <option value="@(Country.TD)">Tchad</option>
    <option value="@(Country.TF)">Terres australes françaises</option>
    <option value="@(Country.TG)">Togo</option>
    <option value="@(Country.TH)">Thaïlande</option>
    <option value="@(Country.TJ)">Tadjikistan</option>
    <option value="@(Country.TK)">Tokelau</option>
    <option value="@(Country.TL)">Timor-Leste</option>
    <option value="@(Country.TM)">Turkménistan</option>
    <option value="@(Country.TN)">Tunisie</option>
    <option value="@(Country.TO)">Tonga</option>
    <option value="@(Country.TR)">Turquie</option>
    <option value="@(Country.TT)">Trinité-et-Tobago</option>
    <option value="@(Country.TV)">Tuvalu</option>
    <option value="@(Country.TZ)">Tanzanie</option>
    <option value="@(Country.UA)">Ukraine</option>
    <option value="@(Country.UG)">Ouganda</option>
    <option value="@(Country.UM)">Îles mineures éloignées des États-Unis</option>
    <option value="@(Country.US)">États-Unis d'Amérique</option>
    <option value="@(Country.UY)">Uruguay</option>
    <option value="@(Country.UZ)">Ouzbékistan</option>
    <option value="@(Country.VA)">Saint-Siège</option>
    <option value="@(Country.VC)">Saint-Vincent-et-les Grenadines</option>
    <option value="@(Country.VE)">Venezue(République bolivarienne du)</option>
    <option value="@(Country.VG)">Îles Vierges britanniques</option>
    <option value="@(Country.VI)">Îles Vierges des États-Unis</option>
    <option value="@(Country.VN)">Viet Nam</option>
    <option value="@(Country.VU)">Vanuatu</option>
    <option value="@(Country.WF)">Wallis-et-Futuna</option>
    <option value="@(Country.WS)">Samoa</option>
    <option value="@(Country.YE)">Yémen</option>
    <option value="@(Country.YT)">Mayotte</option>
    <option value="@(Country.ZA)">Afrique du Sud</option>
    <option value="@(Country.ZM)">Zambie</option>
    <option value="@(Country.ZW)">Zimbabwe</option>
    <option value="@(Country.AX)">Îles Åland</option>
    <option value="@(Country.AS)">Samoa américaines</option>
    <option value="@(Country.IO)">Territoire britannique de l'océan Indien</option>
    <option value="@(Country.CX)">Île Christmas</option>
    <option value="@(Country.CC)">Îles Cocos (Keeling)</option>
    <option value="@(Country.CK)">Îles Cook</option>
    <option value="@(Country.CZ)">Tchéquie</option>
    <option value="@(Country.DO)">République dominicaine</option>
    <option value="@(Country.FK)">Îles Malouines</option>
    <option value="@(Country.FO)">Îles Féroé</option>
    <option value="@(Country.HM)">Île Heard et Îles McDonald</option>
    <option value="@(Country.HK)">Hong Kong</option>
    <option value="@(Country.IS)">Islande</option>
    <option value="@(Country.IN)">Inde</option>
    <option value="@(Country.ID)">Indonésie</option>
    <option value="@(Country.IR)">Iran</option>
    <option value="@(Country.IQ)">Irak</option>
    <option value="@(Country.IE)">Irlande</option>
    <option value="@(Country.IL)">Israël</option>
    <option value="@(Country.IT)">Italie</option>
    <option value="@(Country.JM)">Jamaïque</option>
    <option value="@(Country.JP)">Japon</option>
    <option value="@(Country.JE)">Jersey</option>
    <option value="@(Country.JO)">Jordanie</option>
    <option value="@(Country.KZ)">Kazakhstan</option>
    <option value="@(Country.KE)">Kenya</option>
    <option value="@(Country.KI)">Kiribati</option>
    <option value="@(Country.KW)">Koweït</option>
    <option value="@(Country.KG)">Kirghizistan</option>
    <option value="@(Country.LA)">Laos</option>
    <option value="@(Country.LV)">Lettonie</option>
    <option value="@(Country.LB)">Liban</option>
    <option value="@(Country.LS)">Lesotho</option>
    <option value="@(Country.LR)">Libéria</option>
    <option value="@(Country.LY)">Libye</option>
    <option value="@(Country.LI)">Liechtenstein</option>
    <option value="@(Country.LT)">Lituanie</option>
    <option value="@(Country.LU)">Luxembourg</option>
    <option value="@(Country.MO)">Macao</option>
    <option value="@(Country.MG)">Madagascar</option>
    <option value="@(Country.MW)">Malawi</option>
    <option value="@(Country.MY)">Malaisie</option>
    <option value="@(Country.MV)">Maldives</option>
    <option value="@(Country.ML)">Mali</option>
    <option value="@(Country.MT)">Malte</option>
    <option value="@(Country.MH)">Îles Marshall</option>
    <option value="@(Country.MQ)">Martinique</option>
    <option value="@(Country.MR)">Mauritanie</option>
    <option value="@(Country.MU)">Maurice</option>
    <option value="@(Country.MX)">Mexique</option>
    <option value="@(Country.FM)">Micronésie</option>
    <option value="@(Country.MD)">Moldavie</option>
    <option value="@(Country.MC)">Monaco</option>
    <option value="@(Country.MN)">Mongolie</option>
    <option value="@(Country.ME)">Monténégro</option>
    <option value="@(Country.MS)">Montserrat</option>
    <option value="@(Country.MA)">Maroc</option>
    <option value="@(Country.MZ)">Mozambique</option>
    <option value="@(Country.MM)">Myanmar</option>
    <option value="@(Country.NC)">Nouvelle-Calédonie</option>
    <option value="@(Country.NE)">Niger</option>
    <option value="@(Country.MP)">Îles Mariannes du Nord</option>
    <option value="@(Country.PS)">Palestine</option>
    <option value="@(Country.BL)">Saint-Barthélemy</option>
    <option value="@(Country.KN)">Saint-Kitts-et-Nevis</option>
    <option value="@(Country.LC)">Sainte-Lucie</option>
    <option value="@(Country.MF)">Saint-Martin (partie française)</option>
    <option value="@(Country.LK)">Sri Lanka</option>
    <option value="@(Country.CH)">Suisse</option>
    <option value="@(Country.TW)">Taïwan</option>
    <option value="@(Country.GB)">Royaume-Uni</option>
    <option value="@(Country.EH)">Sahara occidental</option>
</InputSelect>
@code {
    [Parameter]
    public Country Value { get; set; }
    [Parameter]
    public EventCallback<Country> ValueChanged { get; set; }
    [Parameter]
    public Expression<Func<Country>>? ValueExpression { get; set; }
}
